@import "flexbox";
@import "settings";
//@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
"foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
"foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
"foundation/components/type",
//   "foundation/components/offcanvas",
"foundation/components/visibility";

/* Fonts */
// @import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face{
	font-family: 'BebasNeue';
	src: url('/assets/fonts/BebasNeue.otf');
}
@font-face{
	font-family: 'FuturaLTHeavy';
	src: url('/assets/fonts/FuturaLT-Heavy_2.ttf');
}
@font-face{
	font-family: 'FuturaLTBold';
	src: url('/assets/fonts/FuturaLT-Bold_2.ttf');
}
@font-face{
	font-family: 'BigJohn';
	src: url('/assets/fonts/bigjohn.otf');
}
@font-face{
	font-family: 'CamptonBold';
	src: url('/assets/fonts/Campton-Bold.otf');
}
@font-face{
	font-family: 'GrandHotel';
	src: url('/assets/fonts/GrandHotel-Regular.otf');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


/* Flexbox! */
.flex{
	@include flexbox();
	&.column{
		@include flex-direction(column)
	}
}
/* -- Flexbox */

/* General styles */
body{
	@include flexbox();
	@include flex-direction(column);
	min-height:100vh;
	background-image: url('/assets/img/backgrounds/backgroundcolor4.jpg');
	background-size: 100% 100%;
	color:$white;

	.logo{
		background-image: url('/assets/img/logo-wineobs.svg');
		background-repeat: no-repeat;
		background-size:contain;
		height: 120px;
		background-position:50%;
	}

	header{
		.fake-background{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(10, 10, 10, 0.6);
			left:0;
			top:0;
			z-index: -1;
		}
		.header-content{
			@include flexbox();
			.header-left,.header-right{
				flex:1 1;
			}
			.header-center{
				flex:5 0;
				.title{
					display: none;
				}
			}
			.header-left{
				@include flexbox();
				&>div>div{
					background-color:$tinto-wineobs;
					padding: 0.5rem 1.2rem;
					margin: 0 3px 0 0;
					font-size: 1.5rem;
					&:hover{
						background-color:$tinto-malbec;
					}
				}
				.menu-content{
					@include flexbox();
					@include flex-direction(column);
					justify-content: center;
					align-items:center;
					height:100%;
					font-family: FuturaLTHeavy;
					.menu-close-button{
						align-self:flex-end;
						cursor: pointer;
						&>div{
							margin:2rem;
						}
					}
					.menu-items{
						@include flex(1);
						@include flexbox();
						@include align-items(center);
						&>ul{
							list-style: none;
							text-align: center;
							margin: 0;
							a{
								color:$white;
								font-size: 2.2rem;
							}
							li{
								min-width: 20rem;
								padding: 0.3rem 0 0.6rem;
								&:not(:last-child){
									border-bottom:1px solid $white;
								}
							}
						}
					}
				}
			}
			.header-right{
				ul{
					text-align: right;
					padding: 1rem 1rem 0 0;
					list-style: none;
					font-family: FuturaLTBold;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 1rem;
					margin: 0;
					a{
						color:$white;
						&:hover{
							color:$white2;
						}
					}
				}
			}
		}
	}

	.site-content{
		flex:1;
	}

	.footer{
		.footer-content{
			@include flexbox();
			.footer-left,.footer-right{
				flex:1 1;
				@include flexbox();
				@include justify-content(space-around);
				@include align-items(center)
			}
			.footer-center{
				flex:7 0;
			}

			.footer-left{
				@include justify-content(center);
				&>div{
					margin: 0 0.4rem;
				}
			}

			.footer-right{
				min-width: 12rem;
				.lbox{
					font-size: 1.7rem;
				}
			}
		}
	}
}
.step .step-number{
	width: 4rem;
	height: 3rem;
	background-size: 4rem 3rem;
	background-image: url('/assets/img/step-number.svg');
	padding: 0.5rem 0.4rem;
	font-family: CamptonBold;
	font-weight: bold;
	font-size: 1.5rem;
}
.row.full-width {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}
.wineobs-button {
	@include button(
		// $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
		0.7rem,
		// Background color. We can set $bg:false for a transparent background. Default: $primary-color.
		$tinto-wineobs,
		// If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
		0
	);
	font-family:BigJohn;
	font-size:0.9rem;
	padding: 0.3rem 1rem 0;
	text-transform:uppercase;
	font-weight:bold;
	border: 1px solid $white2;
	&:before {
		content: " ";
		position: absolute;
		width: calc( 100% + 10px );
		height: calc( 100% + 10px );
		background-color: $tinto-wineobs;
		top: -5px;
		left: -5px;
		z-index: -1;
	}
}
.white-border{
	border:2px solid $white;
}

/* -- Tooltip */
.tooltip {
	display: inline-block;
	position: relative;
	z-index: 10;
	font-size: 1rem;
	font-family: FuturaLTHeavy;
	.tooltip-item {
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		&::after {
			content: '';
			position: absolute;
			width: 200px;
			height: 20px;
			bottom: 100%;
			left: 50%;
			pointer-events: none;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			pointer-events: auto;
		}
		.icon{
			font-size: 0.9rem;
		}
	}
	.tooltip-content {
		position: absolute;
		z-index: 9999;
		padding: 0.5rem 1rem;
		width: 200px;
		left: 1.6rem;
		bottom: 100%;
		text-align: center;
		line-height: 1.4;
		background: $tinto-wineobs;
		opacity: 0;
		cursor: default;
		pointer-events: none;
		&:after{
			content: '';
			top: 100%;
			left:0;
			border: solid rgba(0, 0, 0, 0);
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-left-color: $tinto-wineobs;
			border-width: 20px;
			margin: -20px 0 0 0;
			z-index: -1;
		}
	}
	.tooltip-text {
		font-size: 0.75rem;
		line-height: 1.35;
		display: block;
		color: $white2;
	}
}

.tooltip:hover .tooltip-item::after {
	pointer-events: auto;
}

.tooltip-effect .tooltip-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

/* -- Checkbox li*/
$dotoptions-top: 1rem;
.dotoptions ul {
	position: relative;
	display: inline-block;
	width:100%;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	li {
		position: relative;
		display: block;
		width: 100%;
		height: 2rem;
		cursor: pointer;
		a {
			top: $dotoptions-top;
			left: 0;
			width: 16px;
			height: 16px;
			outline: none;
			border-radius: 50%;
			text-indent: -999em; /* make the text accessible to screen readers */
			cursor: pointer;
			position: absolute;
			&:focus {
				outline: none;
			}
		}
	}
}

.dotoptions-circle li {

	a {
		width: 10px;
		height: 10px;
		background-color: rgba(255,255,255,0);
		border: 2px solid $white;
		-webkit-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
	}

	&.current a{
		background-color: $tinto-wineobs;
	}

	span.text{
		display: inline-block;
		position: absolute;
		left: 2rem;
		font-family: GrandHotel;
		font-size: 1.8rem;
	}

	svg {
		position: absolute;
		top:$dotoptions-top;
		left:0;
		z-index: 10;
		circle {
			opacity: 0;
			fill: $tinto-wineobs;
			width:16px;
			height:16px;
			stroke: #fff;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 39 39;
			stroke-dashoffset: 39;
			/* length of circle path (pi*2r) */
			-webkit-transition: stroke-dashoffset 0.3s;
			transition: stroke-dashoffset 0.3s;
		}
	}

	&.current a, & a:hover, & a:focus{
		opacity: 0.5;
	}

	&.current svg circle {
		opacity: 1;
		stroke-dashoffset: 0;
		-webkit-transition: stroke-dashoffset 0.3s, opacity 0.15s;
		transition: stroke-dashoffset 0.3s, opacity 0.15s;
	}

}

/* -- Fullscreen overlay */
.overlay-slide {
	visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: fade-out($tinto-wineobs,0.05);
	z-index:99;
	&.open {
		visibility: visible;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transition: -webkit-transform 0.4s ease-in-out;
		transition: transform 0.4s ease-in-out;
	}
}

/* -- General Styles -- */


/* Presentation View */
body.presentation{
	background-image: url('/assets/img/backgrounds/backgroundcolor4.jpg');
	background-size: 100% 100%;

	header{
		@include flex(1);
	}

	.header-left,.header-right{
		visibility: hidden;
		display: none !important;
	}

	.header-center{
		text-align: center;
		margin:5rem 0 0;
		.title{
			text-transform: uppercase;
			text-align: center;
			font-size: 3.5rem;
			font-family: BebasNeue;
			letter-spacing: 0.1rem;
		}
		.logo{
			height: 230px;
		}
	}

	.footer{
		display: none;
	}
}

/* Steps View */
body.steps{
	background-image: url('/assets/img/backgrounds/backgroundcolor1.jpg');
	background-size: 100%;

	.fake-background {
		background-color: rgba(10, 10, 10, 0.4);
	}

	.content.steps{
		position:relative;
		top: 2rem;

		.title{
			text-transform:uppercase;
			text-align: center;
			font-size: 3.5rem;
			font-family: BebasNeue;
			letter-spacing: 0.1rem;
			margin: 1.7rem 0 0;
		}

		.step{
			&>div{
				margin: 0.5rem auto;
			}

			.step-icon{
				font-size: 2.2rem;
			}

			.step-text{
				font-family: FuturaLTHeavy;
			}
		}
		.button-next{
			margin: 2rem auto;
		}
	}
}

/* step-1-2-3 View */
body.step-1-2-3{
	background-image: url('/assets/img/backgrounds/backgroundcolor1.jpg');
	background-size: 100%;

	.fake-background {
		background-color: rgba(10, 10, 10, 0.4);
	}

	.content.step-1-2-3{
		position:relative;
		top: 2rem;

		.title{
			text-transform:uppercase;
			text-align: left;
			font-size: 3rem;
			font-family: BebasNeue;
			letter-spacing: 0.1rem;
		}

		.step{
			width:100%;
			padding:0;
			&>div{
				margin: 0.5rem auto;
			}

			.step-text{
				font-family: FuturaLTHeavy;
				h2.step-title{
					display: inline-block;
					color: #FFF;
					text-transform: uppercase;
					font-size: 0.8rem;
					width: 100%;
					font-family: BigJohn;
					padding: 0.6rem 0 0.5rem;
					letter-spacing: 0.07rem;
				}
			}

			.step-content{
				position:relative;
				&:before{
					content: ' ';
					display: inline-block;
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(255, 255, 255, 0.3);
					top: 0;
					left: 0;
					z-index: -1;
				}
				.step-content-container{
					width:50%;
					margin: 2rem auto;
				}
				&.step-1-2-3-date{
					input[type="text"]{
						background-color: rgba(0,0,0,0);
						font-family: CamptonBold;
						font-weight: bold;
						font-size: 1.2rem;
						color:$white;
						text-align: center;
						width:80%;
						margin:2rem auto;
						padding:1rem 0;
					}
				}
				&.step-1-2-3-persons-qty{
					ul{
						li{
							list-style: none;
							text-align: left;
							margin:0.2rem 0;
							input{
								background-color: rgba(0,0,0,0);
								font-family: CamptonBold;
								font-weight: bold;
								font-size: 1.2rem;
								color:$white;
								text-align: center;
								width:2rem;
								height:2rem;
								border:1px solid white;
							}
							span.text{
								display: inline-block;
								font-family: GrandHotel;
								font-size: 1.8rem;
								padding:0 1rem;
							}
						}
					}
				}
			}
		}
		.button-next{
			margin: 2rem auto;
		}
	}
}

/* step-4 View */