@import "settings";
//@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
"foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
"foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
"foundation/components/type",
//   "foundation/components/offcanvas",
"foundation/components/visibility";

@import url(http://fonts.googleapis.com/css?family=Roboto);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


/* Header style */
.header-row {

	width:100%;
	margin:0;

	.header-column {

		padding: 0 0;
		float: left;

	}
}
/* Overlay style - Codrops http://tympanus.net/Development/FullscreenOverlayStyles/index7.html*/

.menu-button{
	position:relative;
	left:0;
	top:0;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $rojo-malbec;


	.overlay-close {
		/* Overlay closing cross */
		width: 80px;
		height: 80px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: url(../img/cross.png) no-repeat center center;
		text-indent: 200%;
		color: transparent;
		outline: none;
		z-index: 100;
	}

	nav {
		/* Menu style */
		text-align: center;
		position: relative;
		top: 50%;
		height: 60%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		width:20.5rem;
		position: relative;
	}

	ul li {
		display: block;
		height: 15%;
		height: calc(100% / 6.67);
		min-height: 54px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	ul li a {
		font-family: "Roboto";
		font-size: 1.3rem;
		font-weight: normal;
		display: block;
		color: #fff;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
		border-bottom: 1px solid white;
		text-transform: lowercase;
	}

	ul li a:hover, ul li a:focus {
		color: #f0f0f0;
	}

}

/* Effects */
html, body {
	overflow-x: hidden;
}

.container {
	overflow-x: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;

	.overlay-open {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
	}

}

.container::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-contentpush {
	background: $rojo-malbec;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media #{$small-only} {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}