@import "settings";
//@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
"foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
"foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
"foundation/components/type",
//   "foundation/components/offcanvas",
"foundation/components/visibility";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face{
	font-family: 'BebasNeue';
	src: url('/assets/fonts/BebasNeue.otf');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


/* Flexbox! */
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flex{
	@include flexbox();
}

/* General styles */
body{
	background-image: url('/assets/img/backgrounds/backgroundcolor4.jpg');
	background-size: 100% 100%;
	color:$white;

	.logo{
		background-image: url('/assets/img/logo-wineobs.svg');
		background-repeat: no-repeat;
		background-size:contain;
	}
}
.fake-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.6);
}
.step .step-number{
	width: 3rem;
	height: 2.25rem;
	background-size: 3rem 2.25rem;
	background-image: url('/assets/img/step-number.svg');
	padding: 1.5rem 1rem;
}

/* Presentation View */
body.presentation{
	background-image: url('/assets/img/backgrounds/backgroundcolor4.jpg');
	background-size: 100% 100%;

	.content.presentation{
		position:relative;
		top: calc(50% - 200px);

		.slogan{
			text-transform:uppercase;
			text-align: center;
			font-size: 4rem;
			font-family: BebasNeue;
			letter-spacing: 0.1rem;
		}

		.logo{
			height: 245px;
			background-position:50%;
		}
	}
}

/* Steps View */
body.steps{
	background-image: url('/assets/img/backgrounds/backgroundcolor1.jpg');
	background-size: 100%;

	.content.steps{
		position:relative;
		top: 2rem;

		.logo{
			height: 140px;
			background-position:50%;
		}

		.title{
			text-transform:uppercase;
			text-align: center;
			font-size: 3.5rem;
			font-family: BebasNeue;
			letter-spacing: 0.1rem;
		}

		.step{
			&>div{
				margin: 0 auto;
			}
		}

	}
}