<!DOCTYPE html>
<html ng-app="wineobsApp">
<head>
	<title>Wineobs</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/app.css">
	<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
	<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />
	<base href="/">
</head>
<body class="{{bodyClass}}" ng-controller="wineobsController">
	<header>
		<div class="header-content">
			<div class="header-left">
				<div class="menu">
					<div class="menu-open-button">
						<span class="menu-icon icon-wineobs-3lines"></span>
						<div class="menu-overlay overlay overlay-slide">
							<div class="menu-content">
								<div class="menu-close-button">
									<div>
										<span class="icon-wineobs-cross"></span>
									</div>
								</div>
								<div class="menu-items">
									<ul>
										<li><a href="">inicio</a></li>
										<li><a href="">sus reservas</a></li>
										<li><a href="">bodegas</a></li>
										<li><a href="">wineobs</a></li>
										<li><a ng-href="/contacto">contacto</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cart">
					<div class="cart-open-button">
						<span class="icon-wineobs-wine-glass"></span>
					</div>
				</div>
			</div>
			<div class="header-center">
				<div class="title">One site. One obsession</div>
				<div class="logo"></div>
			</div>
			<div class="header-right">
				<div class="languages">
					<ul>
						<li><a href="">inglés</a></li>
						<li><a href="">portugués</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="fake-background"></div>
	</header>
	<div class="site-content" ng-view>

	</div> <!-- END SITE CONTENT -->
	<footer class="footer">
		<div class="footer-content">
			<div class="footer-left">
				<div class="facebook">
					<span class="icon-wineobs-facebook"></span>
				</div>
				<div class="twitter">
					<span class="icon-wineobs-twitter"></span>
				</div>
				<div class="insta">
					<span class="icon-wineobs-insta"></span>
				</div>
			</div>

			<div class="footer-center"></div>

			<div class="footer-right">
				<div class="mpago">
					<span class="icon-wineobs-mpago"></span>
				</div>
				<div class="paypal">
					<span class="icon-wineobs-paypal"></span>
				</div>
				<div class="lbox">
					<span class="icon-wineobs-lbox"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
				</div>
			</div>
		</div>
		<div class="modals">
			<div class="modal-image-gallery" style="display:none;">
				<div class="close-modal">
					<span class="icon-wineobs-cross"></span>
				</div>
				<div class="content"></div>
				<iframe src=""></iframe>
			</div>

			<div ng-controller="reservationModalController" class="modal-info-winery">
				<div class="content">
					<div class="modal-content row">
						<div class="small-3 column tabs-selector">
							<ul class="tabs vertical">
								<li ng-class="{ 'active': infoActive }" class="tab-title" ng-click="setReservationModalActiveTab('info')">
									<a>Bodega</a>
								</li>
								<li ng-class="{ 'active': toursActive }" class="tab-title" ng-click="setReservationModalActiveTab('tours')">
									<a>Tours</a>
								</li>
							</ul>
							<div class="image">
								<img src="/assets/img/lagardegrande.png">
							</div>
						</div>
						<div class="small-9 column tabs-info">
							<div ng-click="closeClick()" class="close-modal">
								<span class="icon-wineobs-cross"></span>
							</div>
							<div class="tabs-content">
								<div ng-class="{ 'active': infoActive }" class="content info-bodega" id="info-bodega">
									<h1 class="winery-name">{{w.Winery.name}}</h1>
									<p class="winery-description">{{w.Winery.description}}</p>
								</div>
								<div ng-class="{ 'active': toursActive }" class="content" id="info-tours">
									<div class="small-12 row">
										<div class="small-12 column info-tours-tabs">
											<ul class="tabs">
												<li class="tab-title" ng-click="changeActiveTour(tour.id, $index)" ng-class="{'active': isTourActive(tour.id)}" ng-repeat="tour in w.Tour">
													<a>{{tour.name}}</a>
												</li>
											</ul>
											<div class="tours-content">
												<div id="{{tour.id}}" class="tour-content small-12" ng-repeat="tour in w.Tour" ng-class="{'active': isTourActive(tour.id)}">
													<div class="description small-8 column">
														<p>{{tour.description}}</p>
													</div>
													<div class="modal-winery-reserve small-4 column">
														<div class="winery-reserve">

															<div class="winery-length">
																<div class="winery-length-title">Duracion</div>
																<div class="winery-length-grid">
																	<div class="winery-hour">{{tour.length}} hs</div>
																</div>
															</div>

															<div class="winery-hours">
																<div class="winery-hours-title">Seleccione Horario</div>
																<div class="winery-hours-grid">
																	<div ng-repeat="t in tour.Time" class="winery-hour" ng-class="{'active': isActiveHour(t.id)}" ng-click="setReservationHour(t.id)">
																		{{t.hour}}
																	</div>
																</div>
															</div>

															<div class="winery-prices">
																<div class="flex f1">
																	<div class="flex f1 fcolumn">
																		<div class="price">${{tour.price}}</div>
																		<div class="text">adultos</div>
																	</div>
																	<div class="flex f1 fcolumn">
																		<div class="price">${{tour.minors_price}}</div>
																		<div class="text">menores</div>
																	</div>
																</div>
															</div>
															<div class="flex f1">
																<div>Precio: ${{tour.minors_price * formData.quota.minors + tour.price * formData.quota.adults}}</div>
															</div>
															<div class="winery-button f1">
																<a class="wineobs-button" ng-click="makeReserve()">reservar</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<link rel="stylesheet" type="text/css" href="/assets/fonts/icons-wineobs/style.css">

	<script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
	<script src="/assets/angular/angular-1.4.2/angular.js"></script>
	<script src="/assets/angular/angular-1.4.2/angular-route.js"></script>
	<script type="text/javascript" src="/assets/js/dirPagination.js"></script>

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDEDXVukpE4oEEhjfWmhaZctW3SobbJYV4"></script>
	<script type="text/javascript" src="/assets/js/marker-clusterer.min.js"></script>

	<script type="text/javascript" src="/assets/foundation/js/foundation.min.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
	<script src="/assets/js/routes.js"></script>
	<script src="/assets/js/controllers.js"></script>
	<script src="/assets/js/services.js"></script>
	<!-- BEGIN DATEDROPPER -->
	<script src="/assets/plugins/datedropper/datedropper.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/plugins/datedropper/datedropper.css">
	<!-- END DATEDROPPER -->
	<script type="text/javascript">
		$(document).foundation();
		$(function(){
			// window.Wineobs.init();
		})
	</script>
	</body>
</html>
