<div class="content about-us flex fcolumn">
	<div class="small-12 row column-2">
		<h1>ONE SITE. ONE OBSESSION.</h1>
		<p translate="ABOUT_US.INICIO"><strong>WineObs</strong> es una empresa joven creada en 2014 por Sofía Ruiz Cavanagh, Licenciada en Enología.
			Siendo originaria de la ciudad de Mendoza y muy interesada en la vitivinicultura y el turismo regional, su mision es ofrecer una forma diferente de obsesionarnos con el vino y las bodegas.
Con el objetivo de facilitar a los amantes del vino la accesibilidad a degustaciones, visitas y otras actividades relacionadas al enoturismo, con <strong>WineObs</strong> proponemos un sitio web que reúne toda la información de relevancia turística de un gran número de bodegas. De esta manera, los visitantes podrán planificar de forma simple y rápida un extraordinario día de degustaciones y visitas turísticas.
Lo que distingue a <strong>WineObs</strong> es que ofrecemos reservas en tiempo real al mismo precio al que se encuentran los mismos servicios en cada una de las diferentes bodegas.
Por otra parte, el sitio también funciona como un nuevo canal de comunicación que las bodegas pueden utilizar para ofrecer y promocionar sus servicios, contribuyendo tanto a la diversificación de las bodegas visitadas, como al crecimiento y afianzamiento de la marca “vino argentino”.
¡Usar <strong>WineObs</strong> implica beneficios! Gestione su reserva con nosotros en rápidos y sencillos pasos.</p>
		<h1 translate="ABOUT_US.TITULO_LISTA">RESERVAR CON WINEOBS</h1>
		<ul>
			<li translate="ABOUT_US.LISTA_1">Todas las bodegas en un mismo sitio.</li>
			<li translate="ABOUT_US.LISTA_2">Gestión de reservas on-line. ¡Sin confirmación o tiempos de espera!</li>
			<li translate="ABOUT_US.LISTA_3">El mismo precio que reservar directamente en cada una de las bodegas asociadas.</li>
			<li translate="ABOUT_US.LISTA_4">Comentarios y puntajes reales de clientes que ya probaron wineobs y visitaron bodegas.</li>
			<li translate="ABOUT_US.LISTA_5">Puedes reservar desde cualquier parte del mundo, en cualquier momento del día y desde cualquier dispositivo móvil.</li>
			<li translate="ABOUT_US.LISTA_6">¡Reservas de último minuto!</li>
			<li translate="ABOUT_US.LISTA_7">Compra protegida.</li>
		</ul>
	</div>
	<div class="small-12 signatures">
		<div class="small-12 column text-center">
			<img class="signature" src="/assets/img/firmasofi.png" />
			<p>Sofia Ruiz Cavanagh</p>
		</div>
	</div>
	<div class="step-footer">
		<div class="small-12 text-center">
			<a onclick="history.go(-1);" class="wineobs-button" translate="BOTON_ATRAS">Anterior</a>
		</div>
	</div>
</div>
