<script type="text/javascript">
$(document).ready(function(){
	var code = getParams(window.location.search).code;
	swal({
		title: '¿Está seguro de que quiere cancelar su reserva?',
		text: 'Política de cancelación: Reembolso total hasta 3 días antes de la fecha de la reserva',
		showCancelButton: true,
	},function(){
		data = { 'code' : code };
		$.post('http://reservas.wineobs.com/reserves/cancel/',data,function(d){
			swal({
				title: 'Cancelación enviada',
				text: 'En breve nos comunicaremos con Usted.',
			},function(){
				window.location.href = '/';
			})
		})
	})
})

function getParams(url){
	var regex = /[?&]([^=#]+)=([^&#]*)/g,
	params = {},
	match;
	while(match = regex.exec(url)) {
		params[match[1]] = match[2];
	}
	return params;
}
</script>
