<div class="content personal-form-data flex fcolumn" ng-controller="personalFormDataController">
	<div class="flex fcolumn f1">

		<div class="step-header">
			<div class="flex fcolumn">
				<div class="step-number">5</div>
				<div class="step-text">
					<h2 class="step-title white-border">
						Confirme la reserva
					</h2>
				</div>
			</div>
		</div>

		<div class="step-content flex">
			<div class="small-12">
				<div class="small-5 column">
					<div class="small-12">fecha</div>
					<div class="personal-data-form small-12">
						<div class="white-border">
							<div class="form-container">
								<form>
									<div class="small-12">
										<label class="form-title">Datos personales</label>
									</div>
									<div class="small-12">
										<div class="small-12 column">
											<input>
										</div>
									</div>
									<div class="small-12">
										<div class="small-3 column">
											<input>
										</div>
										<div class="small-4 column">
											<input>
										</div>
										<div class="small-5 column">
											<input>
										</div>
									</div>
									<div class="small-12">
										<div class="small-6 column">
											<input>
										</div>
									</div>
									<div class="small-12">
										<div class="small-12 column">
											<input>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="small-12">mas publicidad</div>
				</div>
				<div class="small-5 column">cards</div>
				<div class="small-2 column">publicidad</div>
			</div>
		</div>

		<div class="step-footer flex">
			<div>
				<a ng-href="/resultados" class="wineobs-button">Anterior</a>
			</div>
			<div>
				<a class="wineobs-button">Confirmar</a>
			</div>
		</div>
	</div>
</div>