<div class="content reserve-form-data" ng-controller="reserveFormDataController">
	<div class="small-12 column">
		<div class="small-12 medium-12 column">
			<!-- BEGIN TITLE -->
			<div class="row small-12">
				<div class="title" translate="TITULO_DATOS">Recorrer. Conocer. Disfrutar.</div>
			</div>
			<!-- END TITLE -->
			<!-- BEGIN STEPS -->
			<div class="row small-12" data-equalizer>
				<div class="small-12 medium-3 column" data-equalizer-watch>
					<div class="step small-12 medium-2 text-center column">
						<div class="step-number">1</div>
						<div class="step-text">
							<h2 class="step-title white-border" translate="TITULO_PASO1">
								Elija una fecha
							</h2>
						</div>
						<div class="step-content white-border reserve-form-data-date" style="height:{{stepContentHeight}}">
							<input type="text" id="date" ng-model="formData.date.formattedDate" ng-change="setData()" class="datedropper white-border" placeholder="dd.mm.aa">
						</div>
					</div>
				</div>
				<div class="small-12 medium-4 column" data-equalizer-watch>
					<div class="step small-12 medium-2 text-center column">
						<div class="step-number">2</div>
						<div class="step-text">
							<h2 class="step-title white-border" translate="TITULO_PASO2">
								Elija el idioma
							</h2>
						</div>
						<div class="step-content white-border reserve-form-data-language" style="height:{{stepContentHeight}}">
							<div class="step-content-container">
								<div class="language">
									<ul>
										<li><input ng-model="formData.language" value="1" type="radio" required><label>Español</label></li>
										<li><input ng-model="formData.language" value="2" type="radio" required><label>Inglés</label></li>
										<!-- <li><input ng-model="language" value="3" type="radio"><label>Portugués</label></li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="small-12 medium-5 column" data-equalizer-watch>
					<div class="step small-12 medium-2 text-center column">
						<div class="step-number">3</div>
						<div class="step-text">
							<h2 class="step-title white-border" translate="TITULO_PASO3">
								Indique la cantidad de personas
							</h2>
						</div>
						<div class="step-content white-border reserve-form-data-persons-qty" style="height:{{stepContentHeight}}">
							<div class="step-content-container">
								<ul>
									<li>
										<input ng-model="formData.adults" type="text">
										<span class="text">adultos</span>
									</li>
									<li>
										<input ng-model="formData.minors" type="text">
										<span class="text">
											menores
											<a href="#" class="has-tip" tooltip-placement="right" tooltip="*Los menores de 18 anos NO podran participar de la degustación">
												<span class="icon icon-wineobs-info info-tooltip"></span>
											</a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END STEPS -->
		</div>
		<!-- <div class="small-12 medium-3 column">Publicidad</div> -->

		<div class="step-footer flex small-12 left">
			<div>
				<a ng-href="/pasos" class="wineobs-button">Anterior</a>
			</div>
			<div>
				<a ng-click="setFormData()" class="wineobs-button">Siguiente</a>
			</div>
		</div>

	</div>
</div>
